.biodata-container-bg {
    background-color: whitesmoke;
}

.biodata-bg {
    background-image: url('../../asset/image/Background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}