.biodata-container-bg {
    background-color: whitesmoke;
}

.biodata-bg{
    background-image: url('../../asset/image/Background.jpg');
}

/* .profile-bg{
    background-image: url('../../asset/image/ProfilePicture.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
} */